* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", Arial, sans-serif;
  color: #141414;
}

h1,h2,h3,p{
  margin:0
}

ul {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

img{
  display: block;
  max-width: 100%;
}


.subtitulo {
  font-size: 8rem;
  word-break: break-all;
  line-height: 1;
  text-transform: uppercase;
  max-width: 4ch;
}